html {
  width: 500px;
}

#popup-wrap img.favicon {
  height: 16px;
  vertical-align: text-top;
  width: 16px;
}

#popup-wrap span#domain {
  font-weight: bold;
}

#popup-wrap span#updated {
  color: #CCCCCC;
  font-size: 11pt;
  font-style: italic;
}

#popup-wrap ul {
  list-style-type: none;
}

#popup-wrap ul li {
  font-size: 11pt;
}
#popup-wrap ul li.chart {
  height: 100px;
  width: 500px;
}

#popup-wrap ul li span.stat, #popup-wrap ul li span.unit  {
  color: #356AA0;
}

#popup-wrap a {
  float: right;
  text-decoration: none;
}
